.topbar{
    background-color: cadetblue;
    color: #000;
    padding: 5px 0px 5px 5px;
}
main{
    padding: 5px;
}
.row {  
    display: flex;
    flex-wrap: wrap;
    
  }
.row1 {  
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    
  }
.col1{
    flex:50%;
}
.col2{
    flex:50%;
}
p{
    text-decoration: underline;
}
.col-25{
    flex:25%;
}
.col-75{
    flex:25%;
}
.footer{
    background-color: grey;
    text-align: center;
}
.footer input{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin: 10px;
}
label{
    font-weight: 700;
}
input[type=text], select, textarea {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  @media screen and (max-width: 700px) {
    .row, .row1 {   
      flex-direction: column;
    }
  }